<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="loginModalLabel">登录</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" style="">
		  <div class="control-group">
		    
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="邮箱">
		    </div>
		  </div>
		  <div class="control-group">
		    
		    <div class="controls">
		      <input type="password" id="inputPassword" placeholder="密码">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn btn-primary">登录</button>
		    </div>
		  </div>
		</form>
    </div>
</div>